In [9]:
import pandas as pd
from datasets import load_dataset
import json

In [102]:
df = pd.read_csv("data/extended_coding_prompts.csv")
df1 = pd.read_csv("data/o1_code.csv")
with open("data/train.jsonl", "r", encoding="utf-8") as file:
    df2 = [json.loads(line) for line in file]
with open("data/pandalla-math-sample.jsonl", "r", encoding="utf-8") as file:
    df3 = [json.loads(line) for line in file]

In [103]:
df4 = load_dataset("SoftAge-AI/prompt-eng_dataset")
df5 = load_dataset("fka/awesome-chatgpt-prompts")

In [104]:
df4 = load_dataset("SoftAge-AI/prompt-eng_dataset")

In [11]:
!pip install huggingface_hub

Requirement already satisfied: huggingface_hub in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.29.3)
Requirement already satisfied: filelock in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (3.17.0)
Requirement already satisfied: fsspec>=2023.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (2024.12.0)
Requirement already satisfied: packaging>=20.9 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (21.3)
Requirement already satisfied: pyyaml>=5.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (6.0.2)
Requirement already satisfied: requests in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (4.67.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface_hub) (4.12.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from packaging>=20.9->huggingface_hub) (3.2.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->huggingface_hub) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->huggingface_hub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->huggingface_hub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->huggingface_hub) (2025.1.31)

In [20]:
from huggingface_hub import login

# Replace with your actual token
huggingface_token = "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"
login(huggingface_token)

In [25]:
!pip install transformers

Collecting transformers
  Downloading transformers-4.49.0-py3-none-any.whl.metadata (44 kB)
Requirement already satisfied: filelock in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (3.17.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.26.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (0.29.3)
Requirement already satisfied: numpy>=1.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (21.3)
Requirement already satisfied: pyyaml>=5.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (2.32.3)
Collecting tokenizers<0.22,>=0.21 (from transformers)
  Downloading tokenizers-0.21.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Collecting safetensors>=0.4.1 (from transformers)
  Downloading safetensors-0.5.3-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: tqdm>=4.27 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from transformers) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.26.0->transformers) (2024.12.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.26.0->transformers) (4.12.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from packaging>=20.0->transformers) (3.2.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->transformers) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests->transformers) (2025.1.31)
Downloading transformers-4.49.0-py3-none-any.whl (10.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 79.2 MB/s eta 0:00:00
Downloading safetensors-0.5.3-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (471 kB)
Downloading tokenizers-0.21.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 108.3 MB/s eta 0:00:00
Installing collected packages: safetensors, tokenizers, transformers
Successfully installed safetensors-0.5.3 tokenizers-0.21.1 transformers-4.49.0

In [105]:
from transformers import GPT2Tokenizer

# Initialize tokenizer for token count
tokenizer = GPT2Tokenizer.from_pretrained("gpt2")

# Standardized column names
columns = [ "Prompt", "Number of tokens", "creative", "reasoning", "constraint", "contextual", "complexity"]

def count_tokens(text):
    return len(tokenizer.encode(text)) if isinstance(text, str) else 0

### Process Extended Coding Prompts (df)
df["Number of tokens"] = df["Prompt"].apply(count_tokens)
# df["creative"] = df.get("creative", 0)  # Default to 0 if not available
# df["reasoning"] = df.get("reasoning", 0)
# df["constraint"] = df.get("constraint", 0)
# df["contextual"] = df.get("contextual", 0)
difficulty_mapping = {
    "Easy": 1,
    "Intermediate": 2,
    "Hard": 3,
}
df["Difficulty"] = df["Difficulty"].replace(difficulty_mapping)

df.rename(columns={"Difficulty": "complexity"}, inplace=True)

In [107]:
df

,Category,complexity,Prompt,Number of tokens
0,Specific Languages & Technologies,1,Write a Python function that takes a string as...,25
1,Object-Oriented Programming (OOP),1,Write a Python function that takes a string as...,25
2,Object-Oriented Programming (OOP),2,Write a Python script that scrapes the latest ...,22
3,Mobile Development,2,Build a simple React application that fetches ...,23
4,Fundamentals & Basics,2,Build a simple React application that fetches ...,23
...,...,...,...,...
1995,Game Development,2,Develop a simple REST API using Flask that all...,31
1996,Specific Languages & Technologies,1,Write a SQL query to fetch all unique customer...,23
1997,Game Development,2,Design a basic recommendation system that sugg...,18
1998,Specific Languages & Technologies,1,Write a Python function that takes a string as...,25
1999,Data Science & Machine Learning,2,Implement the quicksort algorithm in Python. T...,28

In [108]:
df1

     Explain how to perform unit testing in C# using MSTest.  2
0     Explain how to find the modulus of two numbers...       1
1     Create a small script to parse CSV files in No...       2
2     Create a distributed file system in Java, supp...       3
3     Set up a high-availability Kubernetes cluster ...       3
4     Explain how to handle button click events in V...       2
...                                                 ...      ..
1394  Implement the advanced encryption standard (AE...       3
1395     Implement the Paxos consensus algorithm in Go.       3
1396               Explain how to comment code in Java.       1
1397          Explain how to read user input in Python.       1
1398  Implement the advanced encryption standard (AE...       3

[1399 rows x 2 columns]

In [109]:
df1_2 = df1.copy()
df1_2.rename(columns={df1_2.columns[0]: "Prompt", df1_2.columns[1]: "complexity"}, inplace=True)
df1_2["Number of tokens"] = df1_2["Prompt"].apply(count_tokens)

In [110]:
df1_2

,Prompt,complexity,Number of tokens
0,Explain how to find the modulus of two numbers...,1,14
1,Create a small script to parse CSV files in No...,2,13
2,"Create a distributed file system in Java, supp...",3,14
3,Set up a high-availability Kubernetes cluster ...,3,19
4,Explain how to handle button click events in V...,2,14
...,...,...,...
1394,Implement the advanced encryption standard (AE...,3,15
1395,Implement the Paxos consensus algorithm in Go.,3,10
1396,Explain how to comment code in Java.,1,9
1397,Explain how to read user input in Python.,1,10
1398,Implement the advanced encryption standard (AE...,3,15

In [117]:
data = df3.copy()
# Function to extract user prompts
def extract_user_prompt(text_list):
    for item in text_list:
        if item['role'] == 'user' and item['content']:
            return item['content']
    return None  # Return None if no valid prompt is found

# Convert JSON-like structure into DataFrame
formatted_data = []
for entry in data:
    formatted_data.append({
        "id": entry["idx"],
        "Prompt": extract_user_prompt(entry["text"]),
        "Problem Type": entry["problem_type"],
        "Sub Type": entry["sub_type"],
        "Educational Stage": entry["educational_stage"],
        "Difficulty Level": entry["difficulty"]["level"],
        "Complexity": entry["difficulty"]["complexity"],
        "Explanation": entry["difficulty"]["explanation"],
        "Techniques": ", ".join(entry["techniques"]),
        "Knowledge Points": ", ".join(entry["knowledge_points"]),
        "Learning Objectives": ", ".join(entry["learning_objectives"]),
        "Solution Approach": entry["solution_approach"]["method"],
        "Solution Steps": " | ".join(entry["solution_approach"]["steps"]),
        "Common Pitfalls": " | ".join(entry["solution_approach"]["common_pitfalls"]),
        "Verification Method": entry["verification_method"],
        "Recommended Use": entry["recommended_use"]
    })

# Create DataFrame
df_final = pd.DataFrame(formatted_data)

In [118]:
df_final[['Prompt', 'Complexity']]

                                                 Prompt  Complexity
0     An isosceles triangle has a base that is twice...           5
1     Evaluate the improper integral:\n\n$$\int_0^\i...           7
2     Find the limit of the sequence defined by:\n\n...           7
3     Find the circulation of the vector field F = (...           8
4     Determine whether the polynomial x^4 - 2x^2 + ...           8
...                                                 ...         ...
1995  Prove the following theorem: If an integer $n ...           6
1996  Find all solutions to the equation:\n\n```\n2x...           6
1997  Triangle ABC has vertices A(2, 1), B(5, 4), an...           6
1998  Given the equations of two lines in the plane:...           6
1999  Prove that every even perfect number is of the...           8

[2000 rows x 2 columns]

In [119]:
def normalize_difficulty(value):
    if value <= 3:
        return 1  # Easy
    elif 4 <= value <= 6:
        return 2  # Medium
    else:
        return 3  
df_final = df_final[['Prompt', 'Complexity']]
df_final.rename(columns={"Complexity": "complexity"}, inplace=True)
df_final["Number of tokens"] = df_final["Prompt"].apply(count_tokens)
df_final["complexity"] = df_final['complexity'].apply(normalize_difficulty)

In [120]:
df_final

,Prompt,complexity,Number of tokens
0,An isosceles triangle has a base that is twice...,2,36
1,Evaluate the improper integral:\n\n$$\int_0^\i...,3,32
2,Find the limit of the sequence defined by:\n\n...,3,30
3,Find the circulation of the vector field F = (...,3,72
4,Determine whether the polynomial x^4 - 2x^2 + ...,3,43
...,...,...,...
1995,Prove the following theorem: If an integer $n ...,2,39
1996,Find all solutions to the equation:\n\n```\n2x...,2,31
1997,"Triangle ABC has vertices A(2, 1), B(5, 4), an...",2,77
1998,Given the equations of two lines in the plane:...,2,45
1999,Prove that every even perfect number is of the...,3,33

In [121]:
df6 = pd.read_csv("data/prompts3.csv")
df7 = pd.read_csv("data/sampled_prompts.csv")

In [123]:
df6['complexity'] = 3
df6

                                                prompt  complexity
0    Prove the Riemann integral equivalence to the ...           3
1    Debug a 50-line Python script that processes l...           3
2    Write a detailed financial analysis on the pri...           3
3    Prove the existence and uniqueness theorem for...           3
4    Debug this 80-line Java program that simulates...           3
..                                                 ...         ...
386  Construct a thorough analysis of volatility te...           3
387  Prove the Kakutani fixed-point theorem for con...           3
388  Debug a 95-line YAML configuration for a GitHu...           3
389  Provide a detailed analysis of convertible arb...           3
390  Prove that the exponential map is a group homo...           3

[391 rows x 2 columns]

In [124]:
df6.rename(columns={df6.columns[0]: "Prompt"}, inplace=True)
# df6["complexity"] = df6.get("complexity", 0)
df6["Number of tokens"] = df6["Prompt"].apply(count_tokens)
# df6["creative"] = df6.get("creative", 0)  # Default to 0 if not available
# df6["reasoning"] = df6.get("reasoning", 0)
# df6["constraint"] = df6.get("constraint", 0)
# df6["contextual"] = df6.get("contextual", 0)
df6

,Prompt,complexity,Number of tokens
0,Prove the Riemann integral equivalence to the ...,3,21
1,Debug a 50-line Python script that processes l...,3,20
2,Write a detailed financial analysis on the pri...,3,17
3,Prove the existence and uniqueness theorem for...,3,15
4,Debug this 80-line Java program that simulates...,3,23
...,...,...,...
386,Construct a thorough analysis of volatility te...,3,16
387,Prove the Kakutani fixed-point theorem for con...,3,22
388,Debug a 95-line YAML configuration for a GitHu...,3,24
389,Provide a detailed analysis of convertible arb...,3,18
390,Prove that the exponential map is a group homo...,3,37

In [125]:
df7.rename(columns={df7.columns[0]: "Prompt"}, inplace=True)
df7["Number of tokens"] = df7["Prompt"].apply(count_tokens)
df7

,Prompt,complexity,Number of tokens
0,"\nGiven the following passage\n\n""Following Wo...",7,167
1,"\nGiven the following passage\n\n""Japanese (Fa...",7,157
2,"\nGiven the following passage\n\n""There are el...",7,157
3,"\nGiven the following passage\n\n""In Ruthenia ...",7,113
4,"\nGiven the following passage\n\n""Historically...",7,189
...,...,...,...
495,"\nGiven the following passage\n\n""On Thursday,...",7,167
496,"\nGiven the following passage\n\n""Under the te...",7,190
497,"\nGiven the following passage\n\n""After the Li...",7,263
498,"\nGiven the following passage\n\n""Whittaker wa...",7,178
499,"\nGiven the following passage\n\n""Dumbwaiters ...",7,142

In [126]:
df7['complexity'] = 3
df7

,Prompt,complexity,Number of tokens
0,"\nGiven the following passage\n\n""Following Wo...",3,167
1,"\nGiven the following passage\n\n""Japanese (Fa...",3,157
2,"\nGiven the following passage\n\n""There are el...",3,157
3,"\nGiven the following passage\n\n""In Ruthenia ...",3,113
4,"\nGiven the following passage\n\n""Historically...",3,189
...,...,...,...
495,"\nGiven the following passage\n\n""On Thursday,...",3,167
496,"\nGiven the following passage\n\n""Under the te...",3,190
497,"\nGiven the following passage\n\n""After the Li...",3,263
498,"\nGiven the following passage\n\n""Whittaker wa...",3,178
499,"\nGiven the following passage\n\n""Dumbwaiters ...",3,142

In [127]:
dfs = [df, df1, df1_2, df_final,df6, df7]

In [129]:
for i in range(len(dfs)):
    for col in columns:
        if col not in dfs[i].columns:
            dfs[i][col] = 0  # Default missing values to 0

# Concatenate all datasets
df_final = pd.concat(dfs, ignore_index=True)[columns]

df_final = df_final[['Prompt', 'Number of tokens', 'complexity']]

In [130]:
df_final

,Prompt,Number of tokens,complexity
0,Write a Python function that takes a string as...,25,1
1,Write a Python function that takes a string as...,25,1
2,Write a Python script that scrapes the latest ...,22,2
3,Build a simple React application that fetches ...,23,2
4,Build a simple React application that fetches ...,23,2
...,...,...,...
7684,"\nGiven the following passage\n\n""On Thursday,...",167,3
7685,"\nGiven the following passage\n\n""Under the te...",190,3
7686,"\nGiven the following passage\n\n""After the Li...",263,3
7687,"\nGiven the following passage\n\n""Whittaker wa...",178,3
7688,"\nGiven the following passage\n\n""Dumbwaiters ...",142,3

In [131]:
df_final.to_csv("train_test_dataset.csv", index=False)

In [136]:
from datasets import Dataset
df_final["Prompt"] = df_final["Prompt"].astype(str)
df_final["complexity"] = pd.to_numeric(df_final["complexity"], errors='coerce').astype("Int64")  # Ensures all values are int
# Convert Prompt column to string

dataset = Dataset.from_pandas(df_final)
dataset.push_to_hub('nali24mai/hackathon_dataset')

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/8 [00:00<?, ?ba/s]

README.md:   0%|          | 0.00/24.0 [00:00<?, ?B/s]

CommitInfo(commit_url='https://huggingface.co/datasets/nali24mai/hackathon_dataset/commit/466ba6617f24493fb699e9d48f2f29a0d92568de', commit_message='Upload dataset', commit_description='', oid='466ba6617f24493fb699e9d48f2f29a0d92568de', pr_url=None, repo_url=RepoUrl('https://huggingface.co/datasets/nali24mai/hackathon_dataset', endpoint='https://huggingface.co', repo_type='dataset', repo_id='nali24mai/hackathon_dataset'), pr_revision=None, pr_num=None)